@model List<AppDetail>
@{ Layout = null;}

<h1 class="h3 mb-4 text-gray-800">Sayt Düzəni</h1>

@using (Html.BeginForm("test", "reservation", FormMethod.Post))
{
    <table>
        <tr>
            <th></th>
            <th>Contact Person</th>
            <th>Contact No</th>
            <th>Email ID</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td> @Html.HiddenFor(model => model[i].Id)</td>
                <td>@Html.EditorFor(model => model[i].Heading)</td>
                <td>@Html.EditorFor(model => model[i].SubHeading)</td>
                <td>@Html.EditorFor(model => model[i].Description)</td>
            </tr>
        }
    </table>
    <p><input type="submit" value="Save" /></p>

}