
@inject IRepository<AppDetail> menuItemRepo
@{
    var appDetail = menuItemRepo.GetAll().FirstOrDefault();
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>@appDetail?.WebTitle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes">

    <link rel="stylesheet" href="~/npm/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/npm/@@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/coffee/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/coffee/css/animate.css">
    <link rel="stylesheet" href="~/coffee/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/coffee/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/coffee/css/magnific-popup.css">
    <link rel="stylesheet" href="~/coffee/css/aos.css">
    <link rel="stylesheet" href="~/coffee/css/ionicons.min.css">
    <link rel="stylesheet" href="~/coffee/css/flaticon.css">
    <link rel="stylesheet" href="~/coffee/css/icomoon.css">
    <link rel="stylesheet" href="~/coffee/css/ftco-style.css">
    <link rel="stylesheet" href="~/coffee/css/customstyle.css">

    @RenderSection("Styles", false)

</head>
<body>

    <!-- Start nav -->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <div>
                <svg id="icon" viewBox="0 0 800 600">
                    <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                    <path d="M300,320 L540,320" id="middle"></path>
                    <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                </svg>
            </div>
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                <img src="~/coffee/images/qonaq_logo.png" class="img-fluid" height="100" width="150" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi"></span>Menu

            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto" id="mynav">
                    <li is-active-route asp-controller="Home" asp-action="Index" class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">XOŞ GƏLMİSİNİZ</a></li>
                    <li is-active-route asp-controller="Home" asp-action="Menu" class="nav-item"><a asp-controller="Home" asp-action="Menu" class="nav-link">MENYU</a></li>
                    <li is-active-route asp-controller="Reservation" asp-action="Reserve" class="nav-item"><a asp-controller="Reservation" asp-action="Reserve" class="nav-link">REZERVASİYA</a></li>
                    <li is-active-route asp-controller="Home" asp-action="About" class="nav-item"><a asp-controller="Home" asp-action="About" class="nav-link">HAQQIMIZDA</a></li>
                    <li is-active-route asp-controller="Service" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">XİDMƏT</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" asp-controller="Service" asp-action="DiscountCard">Endirim Kartları</a>
                            <a class="dropdown-item" asp-controller="Service" asp-action="Team">Komandamız</a>
                            <a class="dropdown-item" asp-controller="Service" asp-action="Customer">Müştərilərimiz</a>
                            <a class="dropdown-item" asp-controller="Service" asp-action="Feedback">Geridönüş</a>
                        </div>
                    </li>
                    <li class="nav-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="nav-link">Admin</a></li>
                    <li class="nav-item cart"><a href="cart.html" class="nav-link"><span class="icon icon-shopping_cart"></span><span class="bag d-flex justify-content-center align-items-center"><small>1</small></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->



    @RenderBody()

    <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">RESTORANIMIZ</h2>
                        <p>@appDetail?.About</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="@appDetail?.Twitter" target="_blank"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="@appDetail?.Facebook" target="_blank"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="@appDetail?.Instagram" target="_blank"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">SON BLOGLAR</h2>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url('/coffee/images/yenilik_1.png');"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Cəbhədə yaranan gərginlik səbəbi ilə bu günki şou proqramı təxirə salırıq. Başın sağ olsun, VƏTƏN!</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url('/coffee/images/yenilik_2.jpg');"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Qarabağ - Galatasaray oyununu bizimlə izlə!</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Avq 15, 2020</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 12</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">TƏDBİRLƏRİMİZ</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Ad Günü</a></li>
                            <li><a href="#" class="py-2 d-block">Yığıncaq</a></li>
                            <li><a href="#" class="py-2 d-block">Görüş</a></li>
                            <li><a href="#" class="py-2 d-block">Party</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">ÜNVANIMIZ</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">@appDetail?.Address</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">@appDetail?.PhoneNumber</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">@appDetail.EmailAddress</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>


    <script src="~/npm/jquery/dist/jquery.min.js"></script>
    <script src="~/coffee/js/customjs.js"></script>
    <script src="~/npm/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/npm/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/npm/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/coffee/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/coffee/js/popper.min.js"></script>
    <script src="~/coffee/js/bootstrap.min.js"></script>
    <script src="~/coffee/js/jquery.easing.1.3.js"></script>
    <script src="~/coffee/js/jquery.waypoints.min.js"></script>
    <script src="~/coffee/js/jquery.stellar.min.js"></script>
    <script src="~/coffee/js/owl.carousel.min.js"></script>
    <script src="~/coffee/js/jquery.magnific-popup.min.js"></script>
    <script src="~/coffee/js/aos.js"></script>
    <script src="~/coffee/js/jquery.animateNumber.min.js"></script>
    <script src="~/coffee/js/scrollax.min.js"></script>
    <script src="~/coffee/js/main.js"></script>
    <script src="~/coffee/js/bootstrap-datepicker.js"></script>
    <script src="~/coffee/js/jquery.timepicker.min.js"></script>

    @RenderSection("Scripts", false)

</body>
</html>
