

@{
//Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parallax Scrolling Effect</title>
    @*<link href="~/templates/Parallax-Scrolling-Effect-master/style.css" rel="stylesheet" />*@
<link href="~/coffee/css/customstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="header-container">
        <header>
            <h1 class="big-title translate" data-speed="0.1">Discover.</h1>

            <img src="~/templates/Parallax-Scrolling-Effect-master/tree.png" class="tree translate" data-speed="-0.4" alt="">
            <img src="~/templates/Parallax-Scrolling-Effect-master/statue.png" class="statue translate" data-speed="-0.2" alt="">
            <img src="~/templates/Parallax-Scrolling-Effect-master/pool.png" class="pool translate" data-speed="0.6" alt="">
            <img src="~/templates/Parallax-Scrolling-Effect-master/qonaq.png" class="qonaq translate" data-speed="0.9" alt="">
            <img src="~/templates/Parallax-Scrolling-Effect-master/sky.png" class="sky translate" data-speed="1.2" alt="">
        </header>
    </div>

    <section>
        <div class="shadow"></div>

        <div class="container">
            <div class="content opacity">
                <h3 class="title">
                    About
                    <div class="border"></div>
                </h3>
                <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque officiis quos expedita ipsa, a quidem inventore voluptates debitis accusamus tenetur qui et voluptas dicta, culpa earum, doloribus odio consectetur consequuntur soluta quasi nobis! Deserunt voluptatum reiciendis iure expedita sequi quisquam laboriosam temporibus exercitationem.</p>
            </div>

            <div class="imgContainer opacity">
                <img src="~/templates/Parallax-Scrolling-Effect-master/img/image.jpg" alt="">
            </div>
        </div>
    </section>
    <script src="~/coffee/js/customjs.js"></script>
    @*<script src="~/templates/Parallax-Scrolling-Effect-master/app.js"></script>*@
</body>
</html>