
<section class="header">
    <div class="overlay"></div>
    <div class="heading-section">
        <span class="subheading">Heading</span>
        <h1 class="big-title translate" data-speed="0.1">Qonaq Gəlin.</h1>
        <p class="mb-4">Həyatı şən və pozitiv dalğada keçirmək lazımdır! QonaqBaku sizə bu məsələdə kömək edəcək. Məkanımızın atəşfəşanlı ab-havası, dadlı içkiləri və füsünkar təamları qonaqları hər zaman valeh edir. Siz də əyləncəmizə qatılın !</p>
    </div>
    <img src="~/coffee/images/tree.png" class="tree translate" data-speed="-0.4" />
    <img src="~/coffee/images/statue.png" class="statue translate" data-speed="-0.2" />
    <img src="~/coffee/images/pool.png" class="pool translate" data-speed="0.6" />
    <img src="~/coffee/images/qonaq.png" class="qonaq translate" data-speed="0.9" />
    <img src="~/coffee/images/sky.png" class="sky translate" data-speed="1.2" />
</section>

<section class="under-paral">
    <div class="shadow"></div>
    <div class="container">
        <div class="heading-section paral-content paral-opacity">
            <span class="subheading">Heading</span>
            <h2 class="mb-4">Subheading<div class="paral-border"></div></h2>
            <p class="mb-4">Həyatı şən və pozitiv dalğada keçirmək lazımdır! QonaqBaku sizə bu məsələdə kömək edəcək. Məkanımızın atəşfəşanlı ab-havası, dadlı içkiləri və füsünkar təamları qonaqları hər zaman valeh edir. Siz də əyləncəmizə qatılın !</p>
        </div>
        <div class="imgContainer paral-opacity">
            <img src="~/coffee/images/IMG_9210.jpg" />
        </div>
    </div>
</section>

@section Styles{
    <link href="~/coffee/css/parallax-scrolling.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/coffee/js/parallax-scrolling.js"></script>
}