@model MenuItem

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MenuItemText" class="control-label"></label>
                <input asp-for="MenuItemText" class="form-control" />
                <span asp-validation-for="MenuItemText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItemDescription" class="control-label"></label>
                <input asp-for="MenuItemDescription" class="form-control" />
                <span asp-validation-for="MenuItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItemGroupId" class="control-label"></label>
                <select asp-for="MenuItemGroupId" class="form-control" asp-items="ViewBag.MenuItemGroup"></select>
                <span asp-validation-for="MenuItemGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


