@model List<MenuItem>
@{
    ViewData["Title"] = "Testing";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Testing</h1>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model);
    @*<partial name="_ViewAll" model="Model" />*@
</div>


@section Styles{
    <link href="~/templates/sb-admin/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/templates/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/npm/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
}


@section Scripts{
    <script src="~/templates/sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/templates/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/templates/sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/templates/sb-admin/js/sb-admin-2.min.js"></script>

    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="~/npm/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="~/npm/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
    <script src="~/npm/bootstrap-table/dist/locale/bootstrap-table-tr-TR.js"></script>
    <script src="~/js/site.js"></script>
}