.img-rsp {
    display:block;
    margin-left: auto;
    margin-right: auto;
    /*max-width: 100%;*/
    width:100%;
    height: auto;
    text-align: center;
    /*object-position:bottom;*/
    
}
/*.img-spec{
    position:absolute;
    transform:translate(-40%, 50%)
}*/
.overflow-hidden{
    overflow:hidden;
}
.card-custom{
    height:500px;
    background-size:cover;
    background-position:center center;
    
}


.card-title{
    color:#000;
}

.card-body{
    height:500px;
    
}

@media screen and (max-width: 900px) {
    .card-custom {
        height: 300px;
    }

    .card-body {
        height: 200px;
    }
}
/*0px 0px 10px 0px rgba(194,72,194,1);*/

.btn-success:hover {
    box-shadow: 0px 0px 5px 0px rgb(92, 184, 92), 0px 0px 5px 0px rgb(92, 184, 92);
}

.btn-primary:hover {
    box-shadow: 0px 0px 5px 0px rgb(2, 117, 216), 0px 0px 5px 0px rgb(2, 117, 216);
}

.btn-danger:hover {
    box-shadow: 0px 0px 5px 0px rgb(217, 83, 79), 0px 0px 5px 0px rgb(217, 83, 79);
}