
<h1 class="h3 mb-4 text-gray-800">Sayt Düzəni</h1>

<div class="row">

    <div class="col-lg-6">

        <!-- Card 1 -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Circle Buttons</h6>
            </div>
            <div class="card-body">
                <!-- Form Burda Olur -->
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Brand Buttons</h6>
            </div>
            <div class="card-body">
                <!-- Form Burda Olur -->
            </div>
        </div>

    </div>

    <div class="col-lg-6">
        <!-- Card 3 -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Split Buttons with Icon</h6>
            </div>
            <div class="card-body">
                <!-- Form Burda Olur -->
            </div>
        </div>

    </div>

</div>